<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ERPDB2.TEMP" connectionString="Data Source=192.168.222.17;Initial Catalog=TEMP;User ID=sa;Password=Mv1652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="ERPDB2.MACHVISION" connectionString="Data Source=192.168.222.17;Initial Catalog=MACHVISION;User ID=sa;Password=Mv1652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="ERPDB2.MVTEST" connectionString="Data Source=192.168.222.17;Initial Catalog=MVTEST;User ID=sa;Password=Mv1652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="MVDB01.Attend" connectionString="Data Source=192.168.222.24;Initial Catalog=Attend;User ID=sa;Password=Mv27581652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="MVDB01.mvWorkFlow" connectionString="Data Source=192.168.222.24;Initial Catalog=mvWorkFlow;User ID=sa;Password=Mv27581652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="MVDB01.MVPlanSystem2018" connectionString="Data Source=192.168.222.24;Initial Catalog=MVPlanSystem2018;User ID=sa;Password=Mv27581652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="MVDB01.IT" connectionString="Data Source=192.168.222.24;Initial Catalog=IT;User ID=sa;Password=Mv27581652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="ERPCN.MV_CE" connectionString="Data Source=192.168.3.245;Initial Catalog=MV_CE;User ID=sacs;Password=Mv1652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="ERPCN.MV_CS" connectionString="Data Source=192.168.3.245;Initial Catalog=MV_CS;User ID=sacs;Password=Mv1652$;Connection Timeout=15;Persist Security Info=False" providerName="System.Data.SqlClient" />
    <add name="MV-TFG-V01.infoguard" connectionString="Data Source=192.168.222.102;Initial Catalog=infoguard;User ID=system;Password=11111111" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DomainMv" value ="machvision.com.tw" />
    <add key="PortalAdminPW" value="admin" />
    <add key="DomainOffice" value="office" />
    <add key="LDAP" value="LDAP://office.machvision.com.tw" />
    <add key="chkAuth" value="1" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="SMTPServer" value="machvision.com.tw" />
    <add key="SMTPPort" value="25" />
    <add key="MailSender" value="WebMaster@machvision.com.tw" />
    <add key="DebugMode" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MxMailUrlMachvision" value="https://192.168.222.16:88" />
    <add key="MxMailUrlSiGold" value="https://192.168.220.55:88" />
    <!-- for Quartz Scheduler Used -->
    <add key="triggerTestJob" value="0/30 * * * * ? *" />
    <add key="triggerShowDateTimeJob" value="0 2/5 * * * ? *" />
    <add key="triggerExecuteCAOIPassword" value="0 3,33 0-1 * * ? *" />
    <add key="triggerReportCSRShippingDevice" value="0 40 10 * * ? *" />
    <!-- for Quartz Jobs Used -->
    <add key="ExecuteCAOIPassword_MailFrom" value="mvmis@machvision.com.tw" />
    <add key="ExecuteCAOIPassword_MailTo" value="dept-510@machvision.com.tw,all-china@machvision.com.tw,haeilykim@machvision.com.tw" />
    <add key="ExecuteCAOIPassword_MailCC" value="dept-410@machvision.com.tw,stevenliu@machvision.com.tw" />
    <add key="ExecuteCAOIPassword_MailToSystemOwner" value="dept-220@machvision.com.tw" />
    <add key="ReportCSRShippingDevice_MailFrom" value="mvmis@machvision.com.tw" />
    <add key="ReportCSRShippingDevice_MailTo" value="carlhuang@machvision.com.tw,morrish@machvision.com.tw,samchiu@machvision.com.tw" />
    <add key="ReportCSRShippingDevice_MailCC" value="stevenliu@machvision.com.tw" />
    <add key="ReportCSRShippingDevice_MailToSystemOwner" value="dept-220@machvision.com.tw" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>