<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <connectionStrings>
      <add name="ERPDB2.TEMP" connectionString="Data Source=192.168.222.17;Initial Catalog=TEMP;User ID=sa;Password=Mv1652$" providerName="System.Data.SqlClient" />
      <add name="ERPDB2.MACHVISION" connectionString="Data Source=192.168.222.17;Initial Catalog=MACHVISION;User ID=sa;Password=Mv1652$" providerName="System.Data.SqlClient" />
      <add name="ERPDB2.MVTEST" connectionString="Data Source=192.168.222.17;Initial Catalog=MVTEST;User ID=sa;Password=Mv1652$;Connection Timeout=2;Persist Security Info=False" providerName="System.Data.SqlClient" />
      <add name="MVDB01.Attend" connectionString="Data Source=192.168.222.24;Initial Catalog=Attend;User ID=sa;Password=Mv27581652$" providerName="System.Data.SqlClient" />
      <add name="MVDB01.mvWorkFlow" connectionString="Data Source=192.168.222.24;Initial Catalog=mvWorkFlow;User ID=sa;Password=Mv27581652$" providerName="System.Data.SqlClient" />
      <add name="MVDB01.MVPlanSystem2018" connectionString="Data Source=192.168.222.24;Initial Catalog=MVPlanSystem2018;User ID=sa;Password=Mv27581652$" providerName="System.Data.SqlClient" />
      <add name="MVDB01.IT" connectionString="Data Source=192.168.222.24;Initial Catalog=IT;User ID=sa;Password=Mv27581652$" providerName="System.Data.SqlClient" />
      <add name="ERPCN.MV_CE" connectionString="Data Source=192.168.3.245;Initial Catalog=MV_CE;User ID=sacs;Password=Mv1652$" providerName="System.Data.SqlClient" />
      <add name="ERPCN.MV_CS" connectionString="Data Source=192.168.3.245;Initial Catalog=MV_CS;User ID=sacs;Password=Mv1652$" providerName="System.Data.SqlClient" />
      <add name="MV-TFG-V01.infoguard" connectionString="Data Source=192.168.222.102;Initial Catalog=infoguard;User ID=system;Password=11111111" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
