<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="ERPBK.DEMO" connectionString="Data Source=192.168.222.18;Initial Catalog=DEMO;User ID=mis;Password=1234" providerName="System.Data.SqlClient" />
        <add name="ERPBK.MVPlanSystem2018" connectionString="Data Source=192.168.222.18;Initial Catalog=MVPlanSystem2018;User ID=mis;Password=1234" providerName="System.Data.SqlClient" />
        <add name="ERPBK.mvWorkFlow" connectionString="Data Source=192.168.222.18;Initial Catalog=mvWorkFlow;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPBK.IT" connectionString="Data Source=192.168.222.18;Initial Catalog=IT;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.TEMP" connectionString="Data Source=192.168.222.17;Initial Catalog=TEMP;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.MACHVISION" connectionString="Data Source=192.168.222.17;Initial Catalog=MACHVISION;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.MVTEST" connectionString="Data Source=192.168.222.17;Initial Catalog=MVTEST;User ID=sa;Password=27581652;Connection Timeout=2;Persist Security Info=False" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.MV_CE" connectionString="Data Source=192.168.222.17;Initial Catalog=MV_CE;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.MV_CS" connectionString="Data Source=192.168.222.17;Initial Catalog=MV_CS;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="ERPDB2.SIGOLD" connectionString="Data Source=192.168.222.17;Initial Catalog=SIGOLD;User ID=sa;Password=27581652" providerName="System.Data.SqlClient" />
        <add name="MV_SOP" connectionString="Data Source=192.168.161.101;Initial Catalog=master;User ID=sa;Password=MV16522758" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>